---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container" style="padding:120px 0;text-align:center;">
        <h1>404</h1>
        <p>The page you are looking for doesn't exist.</p>

        <a href="/" class="cta-btn">
            Back to Homepage
        </a>
    </section>
</Layout>