---
import "../styles/footer.css";
---

<footer class="footer">

    <div class="container footer-content">


        <div class="footer-brand">

            <a href="/" class="footer-logo">

                <img 
                    src="/logos/MonkeyReach-Logo.avif"
                    alt="MonkeyReach Logo"
                />

            </a>


            <p class="footer-description">

                Data-driven digital marketing solutions helping businesses grow through SEO, paid advertising, web development, and strategic online growth.

            </p>

        </div>




        <nav class="footer-nav">

            <a href="/refund-and-cancellation-policy">
                Refund & Cancellation Policy
            </a>

            <a href="/terms-conditions">
                Terms & Conditions
            </a>

            <a href="/cookie-policy">
                Cookie Policy
            </a>

            <a href="/privacy-policy">
                Privacy Policy
            </a>

            <a href="/editorial-policy">
                Editorial Policy
            </a>

            <a href="/disclaimer">
                Disclaimer
            </a>

        </nav>

        <p class="footer-copy">

            © {new Date().getFullYear()} MonkeyReach. All rights reserved.

        </p>


    </div>

</footer>